.App {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.smurf-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.smurf-wrapper h1 {
  text-align: center;
  width: 100%;
  font-size: 50px;
}

.card {
  border-radius: 50px;
  margin: 0 1px 2px 0px;
  padding: 25px;
  color: #75f57c;
  background-color: #0515fb;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  width: 200px;
}

.card h2 {
  font-weight: 700;
  font-size: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 25px;
  justify-content: space-between;
  background: #fff;
  width: 75%;
  box-shadow: 0 12px 24px -12px #75f57c;
}

.form input {
  width: 15%;
  background: #fafafa;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 14px 20px;
  font-size: inherit;
  margin: 14px 0;
}

.form button {
  margin-top: 45px;
  color: #0515fb;
  border: 1px solid #efefef;
  background: #75f57c;
  font-size: 20px;
  font-family: inherit;
  padding: 14px 25px;
  border-radius: 25px;
}
